[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
djangorestframework = "*"
python-can = "*"
cantools = "*"
djongo = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "python3 manage.py runserver 0.0.0.0:8000"
makemigrations = "sudo python3 manage.py makemigrations"
migrate = "sudo python3 manage.py migrate"
test = "sudo ./manage.py test tests"
