[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "==3.4.3"
cantools = "==36.1.0"
Django = "==3.0.5"
djongo = "==1.3.3"
python-can = "==3.3.4"
wheel = "==0.36.2"
setuptools = "==52.0.0"
channels = "==3.0.3"
channels-redis = "==3.2.0"
celery = "==5.0.5"
redis = "==3.5.3"
djangorestframework = "==3.12.2"
django-cors-headers = "==3.7.0"
django-jsonfield = "==1.4.1"
pylint = "2.7.4"
pylint-django = "==2.4.2"
honcho = "==1.0.1"
autopep8 = "==1.5.6"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "python3 manage.py runserver 0.0.0.0:8000"
worker = "celery -A django_app worker -l DEBUG -P solo"
beat = "celery -A django_app beat -l DEBUG"
makemigrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
test = "python3 manage.py test"
shell = "python3 manage.py shell"
mock_data = "python3 mock_can_data.py"
lint = "pylint *.py --load-plugins pylint_django"
