[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
djongo = "==1.3.4"
django-cors-headers = "==3.7.0"
cantools = "==36.1.0"
python-can = "==3.3.4"
Django = "==3.0"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python3 manage.py runserver 0.0.0.0:8000"
makemigrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
test = "python3 manage.py test tests"